<div style="z-index: 0; background-color: #1f2833">
  <marquee
    direction="left"
    style="background-color: #1f2833; margin: 0%; padding: 0%"
  >
    <p style="color: goldenrod; border-radius: 5px">
      <strong
        >NOW GET HUSTLE FITNESS PACKAGES AT 50% OFF !!! Coupon code:
        452dfg</strong
      >
    </p>
  </marquee>
</div>
<!-- <div class="container-fluid" style="z-index: 0">
  <div class="marquee" direction="left" style="background-color: #1f2833">
    <p class="text-warning rounded">
      <strong
        >NOW GET HUSTLE FITNESS PACKAGES AT 50% OFF !!! Coupon code:
        452dfg</strong
      >
    </p>
  </div>
</div> -->
