/* Styling for carousel */
#carouselExampleCaptions {
  z-index: 0;
}

.carousel-item img {
  height: auto;
}

.carousel-caption h1,
.carousel-caption h2 {
  color: aqua;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-family: "Londrina Solid", cursive;
}

.carousel-caption p {
  color: #1f2833;
  background-color: aqua;
  border-radius: 5px;
}

/* Styling for marquee */
#marqueeContainer {
  z-index: 0;
}

marquee p {
  color: goldenrod;
  border-radius: 5px;
}

/* Styling for about section */
.p-5.rounded {
  background-color: #1f2833;
}

.about-section h1 {
  color: aqua;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-family: "Londrina Solid", cursive;
}

.about-section p {
  color: #c5c6c7;
}

/* Styling for card group */
.abus {
  background-color: #1f2833;
}

.card {
  background-color: #1f2833;
  margin: 1vh;
  border-radius: 12px;
}

.card-title,
.card-text {
  color: aqua;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-family: "Londrina Solid", cursive;
  display: flex;
  justify-content: center;
}
